body {
    background-color: #625F70 ;
    font-family: Papyrus, Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin: 0;
}

a {
    text-decoration: none;
    color: rgb(3, 3, 150);
}

h1, h2, h3 {
    margin: 0;
}

#container {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    background-color: #4E327D;
    color: white;
    text-align: center;
    padding-top: 4px;
    position: fixed;/* Make it stick, even on scroll */
    width: 1024px;
    height:56px;
}

#content {
    display: flex; /* equal height of the children */
    padding: 60px 0px 0px 0px;
    margin:0%;
}

.tocnumber{
    color: black;
}

.nav {
    width: 160px;
    float: left;
    background-color: #c4d2f3 ;
}

.nav ul {
    padding:0;
    margin:0;
    position: fixed;/* Make it stick, even on scroll */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

.nav a {
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 8px 31px;
    text-align: center;
}

.nav li{
    text-align: center;
}

.nav a.active {
    background-color: #9999ff;
    color: rgb(3, 3, 150);
    
  }

/* Change the link color on hover */
.nav a:hover:not(.active) {
    background-color: rgb(153, 153, 153);
    color: rgb(3, 3, 150);
    
  }

.main {
    background: linear-gradient(to bottom, #9999ff 0%, #bbabbd 100%);
    width: 880px;
    float: right;
    margin-left: 0%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
    
}

#gallery {
    text-align: center;
}

#pics {
    text-align: center;
}

#hobbies {
    padding-left: 1em;
}

#prodlist {
    padding-left: 1em;
    list-style-type: none;
}

#footer {
    clear: both;
    padding: 10px;
    background-color: #4E327D;
    color: white;
    text-align: right;
    
}
