body {
    background-color: #625F70 ;
    font-family: Papyrus, Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin: 0;
}

.nav .main a {
    text-decoration: none;
    color: rgb(3, 3, 150);
}

h1, h2, h3 {
    margin: 0;
}

#container {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    background-color: #4E327D;
    color: white;
    text-align: center;
    padding-top: 4px;
    position: fixed;/* Make it stick, even on scroll */
    width: 1024px;
    height:56px;
    float: none;
    display: block;
}

#content {
    
    padding: 60px 0px 0px 0px;
    margin:0%;
}

.tocnumber{
    color: black;
}


.nav  {
    float: left;
    list-style-type: none;
    padding:0;
    margin:0;
    width:12%;
    Height: auto;
    background-color: #2c3853 ;
    position: fixed;
    overflow: hidden; 
}

.nav a {
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 8px 16px;
    text-align: center;
    color:rgb(255, 255, 255)
}


.nav a.active {
    background-color: hsl(36, 86%, 54%);
    color:rgb(255, 255, 255);
    
  }

.nav a:hover:not(.active) {
    background-color: rgb(124, 172, 198);
    color:  #4E327D;
  }

div.main {

    background: linear-gradient(to bottom, #9778c5 0%, #b7959f 100%);
    margin-left: 0%;
    padding:24px 40px 24px 184px;
    
}

  @media screen and (max-width: 1000px) {
    
    .nav {
      width: 100%;
      height: auto;
      position: fixed;
      
    }
    
    .nav a {
      display: block;
      float: left;
      padding:15px;
     
    }

    div.main {
        margin-left: 0;
        padding:78px 36px;
    }
    div.content {margin-left: 0;}
  }

 /* @media screen and (max-width: 540px) {
    .nav li a {
      text-align: center;
      float: none;
    }
    
     
    div.main {
        
        margin: 0;
        padding:310px 36px;
    }
  }*/

.nav .icon {
    display: none;
  }
  
  @media screen and (max-width: 540px) {
    .nav a:not(:first-child) {display: none;}
    .nav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 540px) {
    .nav.responsive {position: relative;}
    .nav.responsive a .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

  }

#gallery {
    text-align: center;
}

#pics {
    text-align: center;
}

#hobbies {
    padding-left: 1em;
}

#prodlist {
    padding-left: 1em;
    list-style-type: none;
}

#footer {
    clear: both;
    padding: 10px;
    background-color: #4E327D;
    color: white;
    text-align: right;
    
}
  